---
- name: Run shared Darwin/Linux tasks
  include_tasks: user-Darwin-Linux.yml

- name: Mount the rclone drives
  include_tasks: mount-Darwin.yml
  loop: "{{ user.rclone | default([]) }}"
  loop_control:
    label: "{{ mount.name }}"
    loop_var: mount
