[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
  master = !git add --all && git commit -am 'Quick commit.' -n && git push origin master
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[difftool]
  prompt = false
[merge]
  tool = kdiff3
[push]
  default = simple
{% if (user.git_user_name is defined) or (user.git_user_email is defined) %}
[user]
{% if user.git_user_name is defined %}
  name = {{ user.git_user_name }}
{% endif %}
{% if user.git_user_email is defined %}
  email = {{ user.git_user_email }}
{% endif %}
{% endif %}
[web]
  browser = {{ user.git_browser | default('google-chrome') }}
[status]
  submoduleSummary = true
[diff]
  ignoresubmodules = dirty
[sendemail]
  smtpserver = {{ user.git_email_smtp_server | default('smtp.gmail.com') }}
  smtpuser = {{ user.git_email_smtp_user | default("") }}
  smtpencryption = {{ user.git_email_smtp_encryption | default('tls') }}
  smtpserverport = {{ user.git_email_smtp_port | default('587') }}
  smtpPass = {{ user.git_email_app_password | default("") }}
[pull]
	rebase = false
