{% if user.netrc_hosts is defined %}
{% for host in user.netrc_hosts %}
{% if host.machine %}
machine {{ host.machine }}
{% if host.username %}    login {{ host.username }}{% endif %}
{% if host.password %}    password {{ host.password }}{% endif %}
{% endif %}
{% endfor %}
{% endif %}
