{% if user.npm_author_name %}
init.author.name={{ user.npm_author_name }}
{% endif %}
{% if user.npm_author_email %}
init.author.email={{ user.npm_author_email }}
{% endif %}
{% if user.npm_author_url %}
init.author.url={{ user.npm_author_url }}
{% endif %}
init.license=MIT
init.version=0.0.1
{% if user.npm_registry %}
registry={{ user.npm_registry }}
{% endif %}