{% if user.npm_author_email is defined %}init.author.email={{ user.npm_author_email }}{% endif %}
init.license=MIT
{% if user.npm_author_name is defined %}init.author.name={{ user.npm_author_name }}{% endif %}
{% if user.npm_author_url is defined %}init.author.url={{ user.npm_author_url }}{% endif %}
init.version=0.0.1
{% if user.npm_registry is defined %}registry={{ user.npm_registry }}{% endif %}
