---
# @action Ensures Windows Admin Center is installed
# Installs Windows Admin Center on Windows
# @action Ensures Windows Admin Center is installed
# Imports connections from CSV file if configured
# @action Ensures Windows Admin Center is installed
# Imports extensions if configured
- name: Include tasks based on the operating system
  become: true
  become_method: "{{ 'runas' if ansible_os_family == 'Windows' else 'sudo' }}"
  become_user: "{{ ansible_user if ansible_os_family == 'Windows' else omit }}"
  block:
    - include_tasks: "install-{{ ansible_os_family }}.yml"
  when: ansible_os_family == 'Windows'
