absent_packages:
  - docker
  - docker-engine
  - docker.io
  - containerd 
  - runc

required_packages: 
  - apt-transport-https
  - ca-certificates
  - curl
  - software-properties-common

docker_ubuntu_gpg: https://download.docker.com/linux/ubuntu/gpg

docker_ubuntu_repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable

docker: docker-ce
