---
- name: Include variables based on the operating system
  include_vars: "{{ ansible_os_family }}.yml"

- name: Ensure tasks are run with become
  become: true
  block:
    - include_tasks: main-continue.yml
