---
alerts_email: your@email.here

cloudflare_email: your@cloudflare.email
cloudflare_api_key: XXX                     # CloudFlare Global API key (used for adding HTTPS certificates) - TODO: See if an API token can be used instead
cloudflare_api_token: XXX                   # CloudFlare API token (used for scoped access in the NGINX role)

digitalocean_access_key_id: XXX
digitalocean_secret_access_key: XXX

git_user_email: your@email.here
git_user_name: YourFull NameHere

gmail_auth_password: XXX
gmail_auth_username: your@gmail.email

kibana_enrollment_secrets:
  cloud: XXX
  controller: XXX
  iot: XXX
  kubernetes: XXX
  management: XXX
  offline: XXX
  unifi: XXX
  work: XXX

lan_network:
  guest: 192.168.141.0/24
  iot: 192.168.33.0/24
  kubernetes: 192.168.24.0/24
  management: 192.168.0.0/24
  offline: 192.168.144.0/24
  unifi: 192.168.49.0/24
  work: 192.168.14.0/24

netdata_token: XXX

nginx_amplify_api_key: XXX

ngrok_token: XXX

npm_user_email: your@email.here
npm_user_name: YourFull NameHere

password_salt: XXX

restic_repository: s3:https://s3.wasabisys.com/XXX
restic_password: XXX

vault_password: XXX

wasabi_access_key_id: XXX
wasabi_secret_access_key: XXX
