---
host_id: statuscheck

certbot_certs:
  - email: '{{ cloudflare_email }}'
    domains:
      - '*.megabyte.space'

git_docker_projects:
  - folder: /srv/healthchecks
    healthcheck_id: df43bf91-da56-4698-b020-35095b8aaca6
    name: Healthchecks
    repo: git@gitlab.com:megabyte-space/docker-compose/healthchecks.git
  - folder: /srv/statping
    healthcheck_id: bc5918cb-403a-4734-8f09-663d41894a37
    name: StatPing
    repo: git@gitlab.com:megabyte-space/docker-compose/statping.git
    user: root

nginx_sites_available:
  - name: healthchecks
  - name: statping

ssh_private_keys:
  - id_rsa_web
