---
- name: Run common Darwin/Linux tasks
  include_tasks: tls-Darwin-Linux.yml

- name: Move Docker server certificates to protected SSL folder
  become: true
  copy:
    src: "/home/{{ ansible_user }}/.docker/certs.d/{{ item.src | default(item) }}"
    dest: "/etc/ssl/private/{{ item.dest | default(item) }}"
    owner: root
    group: root
    mode: 0400
    remote_src: true
  with_items:
    - docker-server-cert.pem
    - docker-server-key.pem
    - docker-ca-key.pem
    - src: ca.pem
      dest: docker-ca.pem

- name: Remove server keys from ~/.docker
  file:
    path: "~/.docker/certs.d/{{ item }}"
    state: absent
  with_items:
    - docker-server-cert.pem
    - docker-server-key.pem
    - docker-ca-key.pem

- name: Copy certificates to the ~/.docker folder on the machine running Ansible
  fetch:
    src: "~/.docker/certs.d/{{ item }}"
    dest: "~/.docker/certs.d/{{ ansible_host | lower }}-{{ item }}"
    mode: 0400
    flat: true
  with_items:
    - ca.pem
    - cert.pem
    - key.pem
  when:
    - ansible_host != 'local'

- name: Allow TCP connections to Docker
  become: true
  lineinfile:
    path: /etc/systemd/system/multi-user.target.wants/docker.service
    regex: "ExecStart="
    line: "ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock --tlsverify \
      --tlscacert=/etc/ssl/private/docker-ca.pem --tlscert=/etc/ssl/private/docker-server-cert.pem \
      --tlskey=/etc/ssl/private/docker-server-key.pem -H=0.0.0.0:2424"
  notify:
    - reload systemd daemon
    - restart docker
