---
- name: Check if the fonts are present
  ansible.windows.win_find:
    paths: C:/Windows/Fonts
    patterns: "(?i){{ font | replace(' ','') }}*"
    use_regex: true
  register: fonts_result

- name: "Ensure {{ font }} is installed"
  ansible.windows.win_command: "gfi install {{ font }}"
  when: fonts_result.matched > 0
