---
- name: "Ensure {{ app_name }} is installed"
  ansible.windows.win_shell: "npm install -g google-font-installer@latest"

- name: Ensure fonts are installed
  include_tasks: font-Windows.yml
  loop: "{{ fonts }}"
  loop_control:
    label: "{{ font }}"
    loop_var: font
