[submodule "misc/docker/fedora33"]
	path = misc/docker/fedora33
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-fedora-33.git
  branch = master
[submodule "misc/docker/centos7"]
	path = misc/docker/centos7
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-7.git
  branch = master
[submodule "misc/docker/centos8"]
	path = misc/docker/centos8
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-8.git
  branch = master
[submodule "misc/docker/debian10"]
	path = misc/docker/debian10
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-debian-10.git
  branch = master
[submodule "misc/docker/ubuntu2004"]
	path = misc/docker/ubuntu2004
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-ubuntu-20.04.git
  branch = master
[submodule "misc/packer/archlinux-20.12.01"]
	path = misc/packer/archlinux-20.12.01
	url = git@gitlab.com:megabyte-space/packer/archlinux-20.12.01.git
  branch = master
[submodule "misc/packer/windows-10"]
	path = misc/packer/windows-10
	url = git@gitlab.com:megabyte-space/packer/windows-10.git
  branch = master
[submodule "misc/packer/ubuntu-20.04"]
	path = misc/packer/ubuntu-20.04
	url = git@gitlab.com:megabyte-space/packer/ubuntu-20.04.git
  branch = master
