[submodule "misc/docker/fedora33"]
	path = misc/docker/fedora33
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-fedora-33.git
[submodule "misc/docker/centos7"]
	path = misc/docker/centos7
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-7.git
[submodule "misc/docker/centos8"]
	path = misc/docker/centos8
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-8.git
[submodule "misc/docker/debian10"]
	path = misc/docker/debian10
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-debian-10.git
[submodule "misc/docker/ubuntu2004"]
	path = misc/docker/ubuntu2004
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-ubuntu-20.04.git
