[submodule "misc/docker/centos7"]
	path = misc/docker/centos7
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-7.git
	branch = master
[submodule "misc/docker/centos8"]
	path = misc/docker/centos8
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-centos-8.git
  branch = master
[submodule "misc/docker/debian10"]
	path = misc/docker/debian10
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-debian-10.git
  branch = master
[submodule "misc/docker/fedora33"]
	path = misc/docker/fedora33
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-fedora-33.git
  branch = master
[submodule "misc/docker/ubuntu2004"]
	path = misc/docker/ubuntu2004
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-ubuntu-20.04.git
  branch = master
[submodule "misc/packer/base-centos-desktop"]
  path = misc/packer/base-centos-desktop
  url = git@gitlab.com:megabyte-space/packer/base-centos-desktop.git
  branch = master
[submodule "misc/packer/base-fedora-desktop"]
  path = misc/packer/base-fedora-desktop
  url = git@gitlab.com:megabyte-space/packer/base-fedora-desktop.git
  branch = master
[submodule "misc/packer/base-mac-desktop"]
  path = misc/packer/base-mac-desktop
  url = git@gitlab.com:megabyte-space/packer/base-mac-desktop.git
  branch = master
[submodule "misc/packer/base-ubuntu-desktop"]
	path = misc/packer/base-ubuntu-desktop
	url = git@gitlab.com:megabyte-space/packer/base-ubuntu-desktop.git
  branch = master
[submodule "misc/packer/base-windows-desktop"]
	path = misc/packer/base-windows-desktop
	url = git@gitlab.com:megabyte-space/packer/base-windows-desktop.git
	branch = master
[submodule "roles/languages/java"]
  path = roles/languages/java
  url = git@gitlab.com:megabyte-space/ansible-roles/java.git
  branch = master
[submodule "roles/system/snapd"]
  path = roles/system/snapd
  url = git@gitlab.com:megabyte-space/ansible-roles/snapd.git
  branch = master
[submodule "misc/docker/archlinux"]
	path = misc/docker/archlinux
	url = git@gitlab.com:megabyte-space/dockerfile/ansible-molecule-archlinux.git
	branch = master
[submodule "misc/packer/centos"]
	path = misc/packer/centos
	url = git@gitlab.com:megabyte-space/packer/base-centos-desktop.git
	branch = master
[submodule "misc/packer/osx"]
	path = misc/packer/osx
	url = git@gitlab.com:megabyte-space/packer/base-mac-desktop.git
	branch = master
[submodule "misc/packer/fedora"]
	path = misc/packer/fedora
	url = git@gitlab.com:megabyte-space/packer/base-fedora-desktop.git
	branch = master
[submodule "misc/packer/archlinux"]
	path = misc/packer/archlinux
	url = git@gitlab.com:megabyte-space/packer/base-archlinux-desktop.git
	branch = master
[submodule "misc/packer/ubuntu"]
	path = misc/packer/ubuntu
	url = git@gitlab.com:megabyte-space/packer/base-ubuntu-desktop.git
	branch = master
[submodule "roles/applications/androidstudio/modules/docs"]
	path = roles/applications/androidstudio/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/antivirus/modules/ansible"]
	path = roles/services/antivirus/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/antivirus/modules/docs"]
	path = roles/services/antivirus/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/antivirus/modules/shared"]
	path = roles/services/antivirus/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/cockpit/modules/ansible"]
	path = roles/services/cockpit/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/cockpit/modules/docs"]
	path = roles/services/cockpit/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/cockpit/modules/shared"]
	path = roles/services/cockpit/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/elasticagent/modules/ansible"]
	path = roles/services/elasticagent/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/elasticagent/modules/docs"]
	path = roles/services/elasticagent/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/elasticagent/modules/shared"]
	path = roles/services/elasticagent/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/aptcacherng/modules/ansible"]
	path = roles/services/aptcacherng/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/aptcacherng/modules/docs"]
	path = roles/services/aptcacherng/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/aptcacherng/modules/shared"]
	path = roles/services/aptcacherng/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/tor/modules/ansible"]
	path = roles/services/tor/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/tor/modules/docs"]
	path = roles/services/tor/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/tor/modules/shared"]
	path = roles/services/tor/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/samba/modules/ansible"]
	path = roles/services/samba/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/samba/modules/docs"]
	path = roles/services/samba/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/samba/modules/shared"]
	path = roles/services/samba/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/nginx/modules/ansible"]
	path = roles/services/nginx/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/nginx/modules/docs"]
	path = roles/services/nginx/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/nginx/modules/shared"]
	path = roles/services/nginx/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/filebrowser/modules/ansible"]
	path = roles/services/filebrowser/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/filebrowser/modules/docs"]
	path = roles/services/filebrowser/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/filebrowser/modules/shared"]
	path = roles/services/filebrowser/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/wazuh/modules/ansible"]
	path = roles/services/wazuh/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/wazuh/modules/docs"]
	path = roles/services/wazuh/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/wazuh/modules/shared"]
	path = roles/services/wazuh/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/cups/modules/ansible"]
	path = roles/services/cups/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/cups/modules/docs"]
	path = roles/services/cups/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/cups/modules/shared"]
	path = roles/services/cups/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/restic/modules/ansible"]
	path = roles/services/restic/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/restic/modules/docs"]
	path = roles/services/restic/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/restic/modules/shared"]
	path = roles/services/restic/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "roles/services/dnsmasq/modules/ansible"]
	path = roles/services/dnsmasq/modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "roles/services/dnsmasq/modules/docs"]
	path = roles/services/dnsmasq/modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "roles/services/dnsmasq/modules/shared"]
	path = roles/services/dnsmasq/modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule "modules/docs"]
	path = modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "modules/ansible"]
	path = modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "modules/shared"]
	path = modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
