---

ignore: |
  venv
  .gitlab/
  .tox

extends: default

rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  indentation:
    indent-sequences: consistent
    level: error
  line-length:
    level: error
    max: 120
