---

ignore: |
  venv
  .gitlab/
  .tox

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  indentation:
    level: error
    indent-sequences: consistent
