---
ignore: |
  .autodoc/
  .cache/
  .common/
  .git/
  .github/
  .gitlab/
  .husky/
  .modules/
  .task/
  .venv/
  .tox
  .travis.yml
  node_modules/
  roles/
  venv/

extends: default

rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  document-start:
    ignore: |
      environments/prod/
  indentation:
    indent-sequences: consistent
    level: error
  line-length:
    level: error
    max: 160
