[defaults]
inventory = inventory-network.yml
forks = 50
transport = ssh
gathering = smart
fact_caching = jsonfile
fact_caching_connection =  ~/.ansible/factcachingconnection
callback_whitelist = mail
fact_caching_timeout = 60480000
hash_behavior = merge
retry_files_enable = False
pipelining = True

[winrm_connection]
server_cert_validation = ignore
transport = credssp,ssl

[ssh_connection]
transfer_method = piped
