[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "/home/{{ ansible_user }}/Playbooks/files/continue-install.sh"
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Ansible Start-Up Continuer
Comment=Continues the Ansible installation after a reboot is required
