---
- name: "Ensure {{ app_name }} is installed"
  chocolatey.chocolatey.win_chocolatey:
    name: firefox
    state: "{{ app_state | default('present') }}"
    params: /NoDesktopIcon /RemoveDistributionDir
