{
    "hosts" = "tcp://0.0.0.0:2376",
    "tlsverify" = true,
    "tlscacert" = "~/.docker/certs.d/ca.pem",
    "tlscert" = "~/.docker/certs.d/docker-server-cert.pem",
    "tlskey" = "~/.docker/certs.d/docker-server-key.pem"
}
