{
    hosts = "tcp://0.0.0.0:2376";
    tlsverify = $true;
    tlscacert = "/Users/{{ ansible_user }}/.docker/certs.d/ca.pem";
    tlscert = "/Users/{{ ansible_user }}/.docker/certs.d/docker-server-cert.pem";
    tlskey = "/Users/{{ ansible_user }}/.docker/certs.d/docker-server-key.pem"
}
