Host *
    ForwardAgent no
    ForwardX11 no
    ForwardX11Trusted yes
    PreferredAuthentications publickey
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 30
    IdentitiesOnly yes
{% for ssh_key in ssh_global_keys %}
    IdentityFile ~/.ssh/{{ ssh_global_key }}
{% endfor %}
Host gitlab.com
    UpdateHostKeys no
{% for host in ssh_hosts %}
{% if host.key == (inventory_hostname | lower) %}
Host {{ host.value.hostname }} {{ host.value.hostname | lower }}
    Hostname {{ host.value.ip_address }}
    Port {{ ssh_meta[host.key].port | default(ssh_port) }}
{% if ssh_meta[host.key].user %}
    User {{ ssh_meta[host.key].user }}
{% endif %}
{% endif %}
{% endfor %}
