Host *
    ForwardAgent no
    ForwardX11 no
    ForwardX11Trusted yes
    PreferredAuthentications publickey
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 30
    IdentitiesOnly yes
Host gitlab.com
    IdentityFile ~/.ssh/id_rsa_web
    UpdateHostKeys no
{% for host in ssh_hosts %}
{% if host.key == inventory_hostname %}
Host {{ host.value.hostname }} {{ host.value.hostname | lower }}
    Hostname {{ host.value.ip_address }}
    IdentityFile ~/.ssh/{{ ssh_meta[host.key].key }}
    Port {{ ssh_meta[host.key].port | default(ssh_port) }}
{% if ssh_meta[host.key].user %}
    User {{ ssh_meta[host.key].user }}
{% endif %}
{% endif %}
{% endfor %}
