Host *
    ForwardAgent no
    ForwardX11 no
    ForwardX11Trusted yes
    PreferredAuthentications publickey
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 30
    IdentitiesOnly yes
{% for host in ssh_hosts %}
Host {{ host.value.hostname }} {{ host.value.hostname | lower }}
    Hostname {{ host.value.ip_address }}
    IdentityFile ~/.ssh/{{ host.value.ssh_key }}
    Port {{ host.value.ssh_port | default(ssh_port) }}
{% if host.value.ssh_user %}
    User {{ host.value.ssh_user }}
{% endif %}
{% endfor %}