---
- name: "Ensure {{ app_name }}'s Homebrew Tap is installed"
  become: false
  community.general.homebrew_tap:
    name: "{{ packer_tap_repo }}"
    state: present

- name: "Ensure {{ app_name }} is installed"
  become: false
  community.general.homebrew:
    name: "{{ package }}"
    state: present
