---
- name: "Ensure {{ app_name }} is installed"
  community.general.snap:
    name: starship
    state: "{{ app_state | default('present') }}"

- name: Run generic Linux tasks
  include_tasks: config-Linux.yml
  loop: "{{ user_configs }}"
  loop_control:
    label: "{{ user.username }}"
    loop_var: user
