---
- name: "Ensure {{ app_name }}'s dependencies are installed"
  apt:
    name: "{{ glances_dependencies }}"
    state: present

- name: "Ensure {{ app_name }} is installed"
  apt:
    name: glances
    state: "{{ app_state | default('present') }}"
