call plug#begin()
{% for plugin in vim_plugins %}
Plug '{{ plugin.source }}'{% if plugin.plug_setting is defined %}{{ plugin.plug_setting }}{% endif %}

{% endfor %}
call plug#end()

{% for plugin in vim_plugins %}
{% if plugin.settings is defined %}
" Settings for plugin {{ plugin.source }}'
{{ plugin.settings }}
{% endif %}
{% endfor %}

colorscheme {{ vim_theme | default('none') }}
