call plug#begin()
{% for plugin in vim_plugins %}
Plug 'plugin.source'
{% endfor %}
call plug#end()

" Settings added by Ansible
{% for plugin in vim_plugins %}
{% if plugin.settings is defined %}
{{ plugin.settings }}
{% endif %}
{% endfor %}
" Settings added by Ansible
