[submodule "modules/ansible"]
	path = modules/ansible
	url = git@gitlab.com:megabyte-space/common/ansible.git
	branch = master
[submodule "modules/docs"]
	path = modules/docs
	url = git@gitlab.com:megabyte-space/documentation/ansible.git
	branch = master
[submodule "modules/shared"]
	path = modules/shared
	url = git@gitlab.com:megabyte-space/common/shared.git
	branch = master
[submodule ".modules/ansible"]
	path = .modules/ansible
	url = https://gitlab.com/megabyte-space/common/ansible.git
	branch = master
[submodule ".modules/docs"]
	path = .modules/docs
	url = https://gitlab.com/megabyte-space/documentation/ansible.git
	branch = master
[submodule ".modules/shared"]
	path = .modules/shared
	url = https://gitlab.com/megabyte-space/common/shared.git
	branch = master
