---
- name: Populate the list of extensions to be installed
  lineinfile:
    create: true
    group: "{{ user.group | default(omit) }}"
    line: "{{ item.url }}"
    mode: 0644
    owner: "{{ user.username }}"
    path: /tmp/install-gnome-extensions.txt
    regexp: "{{ item.regex }}"
    state: present
  when: item.regex not in user_gnome_extensions.stdout
