---
- name: Ensure Python is installed
  chocolatey.chocolatey.win_chocolatey:
    name: python
    state: present

- name: "Ensure {{ app_name }} is installed"
  chocolatey.chocolatey.win_chocolatey:
    name: googler
    state: "{{ app_state | default('present') }}"
