{% if sanoid_zfs_dataset is defined and sanoid_zfs_dataset %}
{% for dataset in sanoid_zfs_dataset %}
{{ '[' + dataset.name + ']' }}
{{ dataset.settings | indent(2,true,true) }}
{% endfor %}
{% endif %}

#############################
# templates below this line #
#############################

[template_megabytedefault]
  frequently = 0
  hourly = 8
  daily = 3
  weekly = 2
  monthly = 0
  yearly = 0
  autosnap = yes
  autoprune = yes

{% if sanoid_templates is defined and sanoid_templates %}
{% for template in sanoid_templates %}
{{ '[' + template.name + ']' }}
{{ template.settings | indent(2,true,true) }}
{% endfor %}
{% endif %}
