---
- name: "Add {{ app_name }}'s rpm key"
  rpm_key:
    key: "{{ edge_key }}"

- name: "Add {{ app_name }}'s yum repository"
  yum_repository:
    baseurl: "{{ edge_baseurl }}"
    description: "{{ app_name }}'s repository"
    gpgcheck: true
    gpgkey: "{{ edge_key }}"
    name: "{{ app_name | lower | replace(' ', '') }}"
    repo_gpgcheck: true

- name: "Ensure {{ app_name }} is installed"
  dnf:
    name: microsoft-edge-dev
    state: "{{ app_state | default('present') }}"

- name: "Set {{ app_name }} as the default browser"
  vars:
    default_browser_chosen: "{{ default_browser }}"
  include_role:
    name: helpers/defaultbrowser
  when: default_browser == 'edge'
