---
- name: Delete unnecessary folders
  win_file:
    path: "{{ item }}"
    state: absent
  loop:
    - C:\PerfLogs
    - C:\$WinREAgent

- name: Remove all of the desktop icons
  win_shell: Remove-Item C:\Users\*\Desktop\*lnk -Force
  ignore_errors: true

- name: Empty Recycling bin
  win_shell: Clear-RecycleBin -Force
  ignore_errors: true
