---
- name: "Ensure {{ app_name }} is installed"
  become: false
  community.general.homebrew:
    name: composer
    state: "{{ app_state | default('present') }}"

- name: Run generic Linux tasks
  include_tasks: setup-Linux.yml
