[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "/home/hawkwood/Playbooks/files/ubuntu/master-continue.sh"
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Ansible Start-Up Continuer
Comment=Continues the Ansible installation after a reboot is required
