[General]
confirmExternalStorage=true
crashReporter=true
monoIcons=false
newBigFolderSizeLimit={{ folder_size_limit }}
optionalServerNotifications=true
useNewBigFolderSizeLimit=true

[Accounts]
{% for folder in nextcloud_folder_config %}
0\Folders\{{ loop.index }}\ignoreHiddenFiles=false
0\Folders\{{ loop.index }}\localPath=/home/{{ user.username }}/{{ folder.local }}/
0\Folders\{{ loop.index }}\paused=false
0\Folders\{{ loop.index }}\targetPath=/{{ folder.remote }}
0\Folders\{{ loop.index }}\version=2
0\Folders\{{ loop.index }}\virtualFilesMode=off
{% endfor %}
0\authType=webflow
0\dav_user={{ nextcloud_username }}
0\url={{ nextcloud_url }}
0\version=1
0\webflow_user={{ nextcloud_username }}
version=2
