version: 3
profiles: []
configSync:
  parts: {}
  token: {{ tabby_sync_token }}
clickableLinks: {}
accessibility: {}
appearance: {}
hacks: {}
enableAnalytics: false
enableWelcomeTab: false
profileDefaults: {}
