{% for subnet in static_route_subnets %}
{% for vpn_conn in vpn_connections %}
nmcli connection modify '{{ vpn_conn.file | regex_replace('.ovpn') | regex_replace('.nmconnection') }}' +ipv4.routes {{ subnet }}
{% endfor %}
{% endfor %}
