---
- name: Install KVM and its dependencies
  yum:
    name: "{{ kvm_packages }}"
    state: present
    update_cache: true

- name: Enable libvirtd service
  systemd:
    name: libvirtd
    enabled: true
