---
ignore: |
  venv
  .cache/
  .github/
  .gitlab/
  .modules/
  .tox
  .travis.yml
  environments/prod/
  node_modules/

extends: default

rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  indentation:
    indent-sequences: consistent
    level: error
  line-length:
    level: error
    max: 160
