---
- name: "Ensure {{ app_name }} and privoxy are installed"
  yum:
    name:
      - privoxy
      - tor
    state: "{{ app_state | default('present') }}"
    update_cache: true

- name: Run generic Linux tasks
  include_tasks: install-Linux.yml
