---
- name: "Ensure Python is installed"
  yum:
    name: "{{ python_package }}"
    state: present

- name: "Ensure {{ app_name }} is installed"
  yum:
    name: "{{ pip_package }}"
    state: "{{ app_state | default('present') }}"
