---
- name: "Ensure PIP Packages are installed"
  become_user: "{{ user.username }}"
  pip:
    name: "{{ user.pips | default([]) }}"
    state: "{{ pips.state | default(omit) }}"
    executable: "{{ pip_executable }}"
  when: ansible_system != 'Windows'

- name: "Ensure PIP Packages are installed"
  become_method: runas
  become_user: "{{ user.username }}"
  ansible.windows.win_command: "pip install --update {{ user.pips | default([]) }}"
  when: ansible_system == 'Windows'
