---

ignore: |
  venv
  .gitlab/
  .tox

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  indentation:
    level: error
    indent-sequences: consistent
  line-length: disable
  truthy: disable
  new-line-at-end-of-file: disable
  document-start: disable
  comments: disable
  comments-indentation: disable
