---
- name: "Ensure {{ app_name }}'s Tap is installed"
  become: false
  community.general.homebrew_tap:
    name: "{{ vault_tap_repo }}"
    state: "{{ app_state | default('present') }}"

- name: "Ensure {{ app_name }} is installed"
  become: false
  community.general.homebrew:
    name: "{{ vault_package }}"
    state: "{{ app_state | default('present') }}"
