---
admin_password: XXX
admin_username: XXX

maas_admin_email: your@mass.email
maas_admin_password: XXX
maas_admin_username: XXX
maas_database_name: maasprovision
maas_database_password: XXX
maas_database_username: XXX
