*~
._*
*$py.class
.angular
ansible_variables.json
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.autodoc/
*.box
build/
.c9/
.cache
.cache/
.classpath
*.code-workspace
.com.apple.timemachine.donotpresent
/connect.lock
*.cover
.coverage
.coverage.*
/coverage
coverage/
coverage.xml
db.sqlite3
db.sqlite3-journal
.directory
dist/
.DocumentRevisions-V100
.DS_Store
.env
env/
ENV/
env.bak/
.fseventsd
.fuse_hidden*
.git/
htmlcov/
.hypothesis/
Icon
.idea/
.jest-cache/
*.launch
/libpeerconnection.log
local_settings.py
*.log
.LSOverride
Network Trash Folder
.nfs*
node_modules/
nosetests.xml
.nox/
.npm/
npm-debug.log
.nyc_output/
pip-delete-this-directory.txt
pip-log.txt
.pnpm-store/
.project
__pycache__/
.pytest_cache/
pytestdebug.log
*.retry
/.sass-cache
.settings/
.shared/
*.so
.Spotlight-V100
*.sublime-workspace
.task/
.TemporaryItems
Temporary Items
testem.log
Thumbs.db
tmp/
.tox/
.Trash-*
.Trashes
*.tsbuildinfo
tsconfig.build.tsbuildinfo
/typings
.vagrant/
.variables.json
.vault_pass
.venv/
venv/
venv.bak/
.VolumeIcon.icns
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.vscode/snipsnap.code-snippets
!.vscode/tasks.json
yarn-error.log
