[Desktop Entry]
Name=Ansible continue
Comment=Script to resume configuration after reboot
Exec=.config/ansible-continue.sh
Terminal=true
Type=Application
X-GNOME-Autostart-enabled=true
