---
- name: Install AppImages
  become: true
  become_user: "{{ user.username }}"
  block:
    - include_tasks: appimages-Linux.yml

# TODO: Convert this code to use the systemd module instead
- name: Run necessary systemctl commands # noqa 303
  become: true
  become_user: "{{ user.username }}"
  command: systemctl --user add-wants default.target appimaged
  changed_when: systemctl_result.stdout | bool
  register: systemctl_result

- name: Run necessary systemctl command
  become: true
  become_user: "{{ user.username }}"
  systemd:
    name: appimaged
    scope: user
    state: started

- name: Apply user dconf settings
  become: true
  become_user: "{{ user.username }}"
  community.general.dconf:
    key: "{{ item.key | string }}"
    value: "{{ item.value | string }}"
    state: present
  loop: "{{ user.dconf_settings }}"
  loop_control:
    label: "{{ item.key }}"
