---
- name: "Ensure {{ app_name }} is installed"
  pip:
    name: awscli
    state: "{{ app_state | default('latest') }}"

- name: "Ensure .bashrc includes {{ app_name }}'s completion"
  include_tasks: bashrc-Linux.yml
  loop: "{{ user_configs }}"
  loop_control:
    label: "{{ user.username }}"
    loop_var: user
