---
version: '3.8'

services:
  bivac:
    image: camptocamp/bivac:stable
    command: manager
    ports:
      - "8182:8182"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      AWS_ACCESS_KEY_ID: /run/secrets/bivac_aws_access_key_id
      AWS_SECRET_ACCESS_KEY: /run/secrets/bivac_aws_secret_access_key
      RESTIC_PASSWORD: /run/secrets/bivac_restic_password
      BIVAC_TARGET_URL: /run/secrets/bivac_target_url
      BIVAC_SERVER_PSK: toto
      BIVAC_AGENT_IMAGE: camptocamp/bivac:stable
   secrets:
     - bivac_aws_access_key_id
     - bivac_aws_secret_access_key
     - bivac_restic_password
     - bivac_target_url

secrets:
  bivac_aws_access_key_id:
    external: true
  bivac_aws_secret_access_key:
    external: true
  bivac_restic_password:
    external: true
  bivac_target_url:
    external: true
