---
version: '3.7'
services:
  homer:
    image: b4bz/homer
    container_name: Homer
    volumes:
      - ./assets:/www/assets
    ports:
      - 28828:28828
    environment:
      INIT_ASSETS: 0
      PORT: 28828
      UID: 1000
      GID: 1000
    restart: unless-stopped
