version: '3'
services:
  mongo:
    container_name: Graylog-MongoDB
    image: mongo:3
    networks:
      - graylog
    volumes:
      - graylog_mongo_data:/data/db
  elasticsearch:
    container_name: Graylog-Elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.10
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - graylog
    volumes:
      - graylog_elasticsearch_data:/usr/share/elasticsearch/data
  graylog:
    container_name: Graylog
    image: graylog/graylog:3.3
    environment:
      - GRAYLOG_PASSWORD_SECRET={{ graylog_password_secret }}
      - GRAYLOG_ROOT_PASSWORD_SHA2={{ graylog_root_password_sha2 }}
      - GRAYLOG_HTTP_EXTERNAL_URI={{ graylog_fqdn }}/
      - GRAYLOG_TRANSPORT_EMAIL_ENABLED=true
      - GRAYLOG_TRANSPORT_EMAIL_WEB_INTERFACE_URL={{ graylog_fqdn }}/
      - GRAYLOG_TRANSPORT_EMAIL_HOSTNAME=smtp.gmail.com
      - GRAYLOG_TRANSPORT_EMAIL_PORT=465
      - GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=true
      - GRAYLOG_TRANSPORT_EMAIL_USE_TLS=false
      - GRAYLOG_TRANSPORT_EMAIL_USE_SSL=true
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME={{ graylog_email_auth_username }}
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD={{ graylog_email_auth_password }}
      - GRAYLOG_TRANSPORT_EMAIL_SUBJECT_PREFIX=|Graylog|
      - GRAYLOG_TRANSPORT_EMAIL_FROM_EMAIL={{ graylog_email_from_email }}
    networks:
      - graylog
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Graylog web interface and REST API
      - 9000:9000
      # Syslog TCP
      - 1514:1514
      # Syslog UDP
      - 1514:1514/udp
      # GELF TCP
      - 12201:12201
      # GELF UDP
      - 12201:12201/udp
    volumes:
      - graylog_data:/usr/share/graylog/data

networks:
  graylog:
    driver: bridge

volumes:
  graylog_data:
    driver: local
  graylog_elasticsearch_data:
    driver: local
  graylog_mongo_data:
    driver: local