---
- name: "Ensure {{ app_name }} is installed"
  yum:
    name: "{{ vpn_dependencies }}"
    state: "{{ app_state | default('present') }}"
    enablerepo: epel

- name: Run generic Linux tasks
  include_tasks: install-Linux.yml
