<advancedsettings>
{% if kodi_mysql_server is defined and kodi_mysql_user is defined and kodi_mysql_pass is defined %}
{% if kodi_source_videos|length > 0 %}
  <videodatabase>
    <type>mysql</type>
    <host>{{ kodi_mysql_server }}</host>
    <port>3306</port>
    <user>{{ kodi_mysql_user }}</user>
    <pass>{{ kodi_mysql_pass }}</pass>
  </videodatabase>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
  </videolibrary>
{% endif %}
{% if kodi_source_music|length > 0 %}
  <musicdatabase>
    <type>mysql</type>
    <host>{{ kodi_mysql_server }}</host>
    <port>3306</port>
    <user>{{ kodi_mysql_user }}</user>
    <pass>{{ kodi_mysql_pass }}</pass>
  </musicdatabase>
{% endif %}
{% endif %}
</advancedsettings>
