<sources>
    <files>
{% for source in kodi_source_files %}
{% if source.default %}
        <default>{{ source.name }}</default>
{% endif %}
        <source>
            <name>{{ source.name }}</name>
            <path>{{ source.path }}</path>
            <allowsharing>true</allowsharing>
        </source>
{% endfor %}
    </files>
    <music>
{% for source in kodi_source_music %}
{% if source.default %}
        <default>{{ source.name }}</default>
{% endif %}
        <source>
            <name>{{ source.name }}</name>
            <path>{{ source.path }}</path>
            <allowsharing>true</allowsharing>
        </source>
{% endfor %}
    </music>
    <pictures>
{% for source in kodi_source_pictures %}
{% if source.default %}
        <default>{{ source.name }}</default>
{% endif %}
        <source>
            <name>{{ source.name }}</name>
            <path>{{ source.path }}</path>
            <allowsharing>true</allowsharing>
        </source>
{% endfor %}
    </pictures>
    <programs>
{% for source in kodi_source_programs %}
{% if source.default %}
        <default>{{ source.name }}</default>
{% endif %}
        <source>
            <name>{{ source.name}}</name>
            <path>{{ source.path }}</path>
            <allowsharing>true</allowsharing>
        </source>
{% endfor %}
    </programs>
    <video>
{% for source in kodi_source_videos %}
{% if source.default %}
        <default>{{ source.name }}</default>
{% endif %}
        <source>
            <name>{{ source.name }}</name>
            <path>{{ source.path }}</path>
            <allowsharing>true</allowsharing>
        </source>
{% endfor %}
    </video>
</sources>
