version: 3
profiles: []
configSync:
  token: >-
    {{ tabby_sync_token }}
  parts: {}
clickableLinks: {}
accessibility: {}
appearance: {}
hacks: {}
enableAnalytics: false
enableWelcomeTab: false
profileDefaults: {}
