PIHOLE_INTERFACE=eth0
IPV4_ADDRESS={{ pihole_ipv4_address }}
IPV6_ADDRESS={{ pihole_ipv6_address }}
QUERY_LOGGING={{ pihole_query_logging }}
INSTALL_WEB={{ pihole_install_web }}
LIGHTTPD_ENABLED={{ pihole_lighttpd_enabled }}
BLOCKING_ENABLED={{ pihole_blocking_enabled }}
API_EXCLUDE_DOMAINS={{ pihole_api_exclude_domains }}
API_EXCLUDE_CLIENTS={{ pihole_api_exclude_clients }}
API_QUERY_LOG_SHOW={{ pihole_api_query_log_show }}
API_PRIVACY_MODE={{ pihole_api_privacy_mode }}
ADMIN_EMAIL={{ pihole_admin_email }}
WEBUIBOXEDLAYOUT={{ pihole_webuiboxedlayout }}
WEBTHEME={{ pihole_webtheme }}
DNSMASQ_LISTENING={{ pihole_dnsmasq_listening }}
PIHOLE_DNS_1={{ pihole_dns_1 }}
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv }}
DNSSEC={{ pihole_dnssec }}
REV_SERVER={{ pihole_rev_server }}
TEMPERATUREUNIT={{ pihole_temperatureunit }}