source "{{ antigen_path }}"

antigen use oh-my-zsh

{% for plugin in omz_plugins %}
antigen bundle {{ plugin }}
{% endfor %}

antigen theme {{ omz_theme }} # TODO - should we have this if we're using Starship instead?

antigen apply
