---
- name: Ensure dependencies for building from source are installed
  package:
    name: "{{ arch_source_deps }}"
    state: present

- name: Run generic Linux tasks
  include_tasks: source-Linux.yml
