---
- name: Ensure dependencies for building from source are installed
  apt:
    name: "{{ debian_source_deps }}"
    state: present
    update_cache: true

- name: Run generic Linux tasks
  include_tasks: source-Linux.yml
