---
- name: "Ensure Python is installed"
  apt:
    name: "{{ python_package }}"
    state: present
    update_cache: "{{ omit if skip_package_cache_update is defined else 'true' }}"

- name: "Ensure {{ app_name }} is installed"
  apt:
    name: "{{ pip_package }}"
    state: "{{ app_state | default('present') }}"
