version: "3.9"

services:
  netdata:
    image: mariadb:latest
    container_name: mariadb
    restart: unless-stopped
    ports:
      - {{ kodi_mysql_port }}:{{ kodi_mysql_port }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - {{ kodi_mysql_datadir }}:/var/lib/mysql
