version: 2

locations:
  docker-cloud-{{ docker_volume_name }}:
    from: {{ ansible_env.HOME }}
    type: docker
    to:
      - primary
      - secondary
    cron: '0 * * * *'
    options:
      backup:
        exclude:
          <<: *exclude
      forget:
        keep-hourly: 24
        keep-daily: 7
        keep-weekly: 14

  docker-local-{{ docker_volume_name }}:
    from: {{ ansible_env.HOME }}
    to: local
    cron: '*/15 * * * *'
    options:
      backup:
        exclude:
          <<: *exclude
      forget:
        keep-hourly: 24
        keep-daily: 3

backends:
  local:
    type: local
    path: /var/local/backups/docker/{{ docker_volume_name }}

  primary-{{ docker_volume_name }}:
    type: s3
    path: {{ primary_s3_bucket }}/docker/{{ docker_volume_name }}

  secondary-{{ docker_volume_name }}:
    type: s3
    path: {{ secondary_s3_bucket }}/docker/{{ docker_volume_name }}
