AUTORESTIC_PRIMARY_RESTIC_PASSWORD={{ user.restic_password }}
AUTORESTIC_PRIMARY_AWS_ACCESS_KEY_ID={{ user.primary_s3_access_key_id }}
AUTORESTIC_PRIMARY_AWS_SECRET_ACCESS_KEY={{ user.primary_s3_secret_access_key }}
AUTORESTIC_SECONDARY_RESTIC_PASSWORD={{ user.restic_password }}
AUTORESTIC_SECONDARY_AWS_ACCESS_KEY_ID={{ user.secondary_s3_access_key_id }}
AUTORESTIC_SECONDARY_AWS_SECRET_ACCESS_KEY={{ user.secondary_s3_secret_access_key }}
