---
- name: Check current state
  stat:
    path: "{{ nginx_module_link }}"
  register: nginx_module_link_stat

- name: Remove existing module config files
  file:
    path: "{{ nginx_module_link }}"
    state: absent
  when: nginx_module_link_stat.stat.exists and nginx_module_link_stat.stat.isdir

- name: Create link
  file:
    dest: "{{ nginx_module_link }}"
    src: "{{ nginx_module_dir }}"
    state: link
