---
- name: "Add {{ app_name }}'s apt key"
  apt_key:
    state: present
    url: "{{ virtualbox_apt_key }}"

- name: "Add {{ app_name }}'s apt repository"
  apt_repository:
    filename: virtualbox
    repo: "{{ virtualbox_apt_repository }}"
    state: present
    update_cache: true

- name: "Modify debconf selection for unattended installation of the {{ app_name }} Extension Pack"
  command: echo virtualbox-ext-pack virtualbox-ext-pack/license select true | debconf-set-selections
  changed_when: false

- name: "Ensure {{ app_name }} is installed"
  apt:
    name:
      - "{{ vbox_package_name }}"
      - virtualbox-ext-pack
    state: present
