---
- name: "Ensure {{ app_name }}'s dependencies are installed"
  community.general.pacman:
    name: "{{ pkg_dependencies }}"
    update_cache: true
    state: present

- name: "Ensure {{ app_name }} is installed"
  community.general.pacman:
    name: virtualbox
    state: present
  register: install_result

- name: "Ensure {{ app_name }} Extension pack is installed"
  block:
    - name: "Remove {{ app_name }} Extension pack if the source files have changed" # noqa 503
      file:
        path: "/usr/lib/virtualbox/ExtensionPacks/Oracle_VM_VirtualBox_Extension_Pack/"
        state: absent
    - name: "Ensure {{ app_name }} Extension pack source is cloned and up-to-date" # noqa 401
      become: false
      git:
        repo: "{{ vbox_ext_pack_aur_repo_url }}"
        dest: "{{ temp_directory }}"
        clone: true
    - name: "Ensure {{ app_name }} Extension pack is installed"
      become: false
      command: makepkg -sic --noconfirm
      args:
        chdir: "{{ temp_directory }}"
        creates: /usr/lib/virtualbox/ExtensionPacks/Oracle_VM_VirtualBox_Extension_Pack/
  when: install_result.changed
