# RsyslogGnuTLS
# Source: https://community.graylog.org/t/rsyslog-over-tls/263/6
# $DefaultNetstreamDriverCAFile /etc/ssl/certs/DST_Root_CA_X3.pem # For Let's Encrypt certificates

*.* action(
    Action.resumeInterval="10"
    RebindInterval="10000"            # Cycling TCP connections allows for load balancing
    Queue.Size="100000"
    Queue.DiscardMark="97500"
    Queue.HighWaterMark="80000"
    Queue.Type="LinkedList"
    Queue.FileName="rsyslogqueue"
    Queue.CheckpointInterval="100"
    Queue.MaxDiskSpace="2g"
    Action.ResumeRetryCount="-1"
    Queue.SaveOnShutdown="on"
    Queue.TimeoutEnqueue="10"
    Queue.DiscardSeverity="0"
    type="omfwd"
    target="{{ graylog_host }}"
    protocol="tcp"
    port="{{ graylog_rsyslog_tcp_port }}"
    template="RSYSLOG_SyslogProtocol23Format"
    StreamDriver="gtls"
    StreamDriverMode="1"               # Run driver in TLS-only mode
    StreamDriverAuthMode="x509/name"   # Host TLS cert CN will be used for authentication
    StreamDriverPermittedPeers="{{ graylog_host }}" # Only allowed hosts
)