[Unit]
Description={{ item.name }}
AssertPathIsDirectory=/mnt/{{ ansible_user }}/{{ item.provider }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=/home/{{ ansible_user }}/.config/rclone/rclone.conf \
        --allow-other \
        --cache-tmp-upload-path=/tmp/rclone/upload \
        --cache-chunk-path=/tmp/rclone/chunks \
        --cache-workers=8 \
        --cache-writes \
        --cache-dir=/tmp/rclone/vfs \
        --cache-db-path=/tmp/rclone/db \
        --no-modtime \
        --drive-use-trash \
        --stats=0 \
        --checkers=16 \
        --bwlimit=40M \
        --dir-cache-time=60m \
        --cache-info-age=60m {{ item.provider }}:/ /mnt/{{ ansible_user }}/{{ item.provider }}
ExecStop=/bin/fusermount -u /mnt/{{ ansible_user }}/{{ item.provider }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target