Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     PreferredAuthentications publickey
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30
     IdentitiesOnly yes
{% for host in external_ssh_hosts %}
Host {{ host.hostname }}
    Hostname {{ host.ip_address | default(host.hostname) }}
    IdentityFile ~/.ssh/{{ host.ssh_key }}
    Port {{ host.ssh_port | default(22) }}
{% if host.ssh_user is defined %}
    User {{ host.ssh_user }}
{% endif %}
{% endfor %}
{% for host in ssh_hosts %}
Host {{ host.hostname }} {{ host.hostname | lower }}
    Hostname {{ host.ip_address }}
    IdentityFile ~/.ssh/{{ host.ssh_key }}
    Port {{ security_ssh_port }}
    User {{ host.ssh_user | default(security_default_user) }}
{% endfor %}