---
- name: "Ensure {{ app_name }} is installed"
  become: false
  community.general.homebrew:
    name: wp-cli
    state: "{{ app_state | default('present') }}"

- name: "Ensure wp-cli-completion is installed"
  become: false
  community.general.homebrew:
    name: wp-cli-completion
    state: present
