{
    "{{ item.ip_address }}": {
        "address": "{{ item.ip_address }}:{{ security_ssh_port }}",
        "port": {{ security_ssh_port }},
        "user": "{{ item.user | default(ansible_user) }}",
        "visible": true
    }
}