[Zap]
Version          = 2
Mirror           = https://g.srev.in/get-appimage/%s/core.json
MirrorRoot       = https://g.srev.in/get-appimage
ApplicationStore = /home/{{ user.username }}/Applications
IconStore        = /home/{{ user.username }}/Applications/icons
LocalStore       = /home/{{ user.username }}/Applications
CustomIconTheme  = true
Integrate        = yes
