---
- name: "Ensure {{ app_name }} is installed"
  community.general.pacman:
    name: vagrant
    state: "{{ app_state | default('present') }}"

- name: Run generic Linux tasks
  include_tasks: install-Linux.yml
