---
- name: Run generic Linux tasks
  include_tasks: install-Linux.yml
  when: not netdata_install_via_docker

- name: "Ensure {{ app_name }} is installed via Docker"
  include_tasks: docker-Linux.yml
  when: netdata_install_via_docker
