<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.rclone.{{ mount.provider }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/rclone --config=/Users/{{ user.username }}/.config/rclone/rclone.conf mount --cache-tmp-upload-path=/tmp/rclone/upload --cache-chunk-path=/tmp/rclone/chunks --cache-workers=8 --cache-writes --cache-dir=/tmp/rclone/vfs --cache-db-path=/tmp/rclone/db --log-file=/home/{{ user.username }}/.config/rclone/{{ mount.provider }}-log.txt --no-modtime --drive-use-trash --stats=0 --checkers=16 --bwlimit=40M --dir-cache-time=60m --vfs-cache-mode full --cache-info-age=60m {{ mount.provider }}:/ /private/mnt/{{ mount.provider }}</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/{{ user.username }}/.config/rclone/{{ mount.provider }}-log.txt</string>
    <key>StandardOutPath</key>
    <string>/Users/{{ user.username }}/.config/rclone/stdout</string>
    <key>RunAtLoad</key> <true/>
    <key>KeepAlive</key> <true/>
</dict>
</plist>
