[Unit]
Description={{ mount.name }} (rclone)
AssertPathIsDirectory=/mnt/{{ mount.provider }}
After=network-online.target

[Service]
Type=simple
User={{ user.username }}
ExecStart=/usr/bin/rclone --config=/home/{{ user.username }}/.config/rclone/rclone.conf \
        mount \
        --cache-tmp-upload-path=/tmp/rclone/upload \
        --cache-chunk-path=/tmp/rclone/chunks \
        --cache-workers=8 \
        --cache-writes \
        --cache-dir=/tmp/rclone/vfs \
        --cache-db-path=/tmp/rclone/db \
        --log-file=/home/{{ user.username }}/.config/rclone/{{ mount.provider }}-log.txt \
        --no-modtime \
        --drive-use-trash \
        --stats=0 \
        --checkers=16 \
        --bwlimit=40M \
        --dir-cache-time=60m \
        --vfs-cache-mode full \
        --cache-info-age=60m \
        {{ mount.provider }}:/ /mnt/{{ mount.provider }}
ExecStop=/bin/fusermount -u /mnt/{{ mount.provider }}
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
