---
- name: Ensure plymouth's packages are installed
  apt:
    name:
      - plymouth-themes
      - plymouth-label
    state: present
  when: ansible_os_family == 'Debian'

- name: Ensure plymouth's packages are installed
  dnf:
    name: plymouth-plugin-script
    state: present
  when: ansible_os_family == 'RedHat'

- name: Optimize the GRUB resolution
  lineinfile:
    path: "{{ grub_path }}"
    regex: "GRUB_GFXMODE="
    line: "GRUB_GFXMODE={{ grub_gfxmode }},auto"
  notify: update grub

- name: Set GRUB timeout
  lineinfile:
    path: "{{ grub_path }}"
    regex: "GRUB_TIMEOUT="
    line: "GRUB_TIMEOUT={{ grub_timeout }}"
  notify: update grub

- name: Check if GRUB theme is already present
  stat:
    path: /root/.grub-theme
  register: grub_theme

- name: Copy and unarchive GRUB theme
  git:
    depth: "1"
    dest: /root/.grub-theme
    repo: https://github.com/vinceliuice/grub2-themes.git
    update: true
    version: master
  when: not grub_theme.stat.exists or grub_force_install

- name: Install GRUB theme
  command: "bash install.sh {{ grub_theme_options }}"
  args:
    chdir: /root/.grub-theme
  register: grub_theme_install
  when: not grub_theme.stat.exists or grub_force_install
  failed_when: grub_theme_install.rc != 0 and not (grub_theme_install.rc == 1 and 'All done!' in grub_theme_install.stdout)
