---
- name: "Check if the {{ folder }} folder exists"
  stat:
    path: "{{ folder }}"
  register: folder_status

- name: Ensure home directory folders have appropriate permissions
  file:
    mode: 0750
    path: "{{ folder }}"
    state: directory
  when: folder_status.stat.exists
