---
- name: Ensure PHP packages are installed
  become: false
  community.general.homebrew:
    name: "{{ php_packages }}"
    state: present

- name: Run generic Linux tasks
  include_tasks: setup-Linux.yml
