{
{% for extnsn in ulauncher_extensions %}
  "{{ 'com.' + (extnsn.url.split('/'))[-1].split('-')[0]+'.'+(extnsn.url.split('/'))[-1].split('-')[1]+'.'+(extnsn.url.split('/'))[-1].split('-')[2:]|join('-') }}": {
    "id": "{{ 'com.' + (extnsn.url.split('/'))[-1].split('-')[0]+'.'+(extnsn.url.split('/'))[-1].split('-')[1]+'.'+(extnsn.url.split('/'))[-1].split('-')[2:]|join('-') }}",
    "url": "{{ 'https://github.com/' + (extnsn.url.split('/'))[-1].split('-')[1] + '/' + (extnsn.url.split('/'))[-1].split('-')[2:]|join('-') }}"
  }{{'' if loop.last else ',' }}
{% endfor %}
}
